@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cursor-default: url('../assets/cursors/default.svg') 12 12, auto;
    --cursor-pointer: url('../assets/cursors/pointer.svg') 12 12, pointer;
    --font-family: 'Figtree', sans-serif;

    --background-color: rgb(48, 48, 48);
    --border-color: rgb(74, 74, 74);
    --text-main: #fafafa;

    --color-primary: #ADC66F;
    --color-primary-hover: #BFD98D;
    --color-secondary: #768C44;
    --color-secondary-hover: #8EA35E;
    --color-tertiary: #334B10;
    --color-tertiary-hover: #456126;

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --border-radius-full: 9999px;
}

* {
    transition-duration: .3s;
}

body {
    background: var(--background-color);
    color: var(--text-main);
    cursor: var(--cursor-default);
    font-family: var(--font-family);
    margin-inline: 2.5vw;
    padding-top: 4rem;
}

a:hover,
button:hover {
    cursor: var(--cursor-pointer) !important;
}

.text-primary {
    color: var(--color-primary);
}

.text-primary::selection {
    color: var(--background-color);
    background-color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-secondary::selection {
    color: var(--background-color);
    background-color: var(--color-secondary);
}

.text-tertiary {
    color: var(--color-tertiary);
}

.text-tertiary::selection {
    color: var(--text-main);
    background-color: var(--color-tertiary);
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--background-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: var(--cursor-pointer);
    text-decoration: none;
    display: inline-block;
}

.button-primary:hover {
    background-color: var(--color-primary-hover);
}

.button-secondary {
    background-color: var(--color-secondary);
    color: var(--background-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: var(--cursor-pointer);
    text-decoration: none;
    display: inline-block;
}

.button-secondary:hover {
    background-color: var(--color-secondary-hover);
}

.button-tertiary {
    background-color: var(--color-tertiary);
    color: var(--text-main);
    border: none;
    padding: 0.5rem 1rem;
    cursor: var(--cursor-pointer);
    text-decoration: none;
    display: inline-block;
}

.button-tertiary:hover {
    background-color: var(--color-tertiary-hover);
}

.rounded-sm {
    border-radius: var(--border-radius-sm);
}

.rounded-md {
    border-radius: var(--border-radius-md);
}

.rounded-lg {
    border-radius: var(--border-radius-lg);
}

.rounded-full {
    border-radius: var(--border-radius-full);
}

h1,
h2,
h3 {
    width: fit-content;
}

h1::after,
h2::after,
h3::after {
    content: "";
    display: block;
    background-color: var(--color-primary);
    width: 32%;
    height: 4px;
    border-radius: 4px;
    margin-top: -0.125em;
    transition: width 0.25s ease-in-out;
}

h1:hover::after,
h2:hover::after,
h3:hover::after {
    width: 86%;
    transition-duration: 0.3s;
}

h1::after { height: 4px; }
h2::after { height: 3px; }
h3::after { height: 1.75px; }

::selection {
    /*background-color: var(--color-secondary-hover);*/
    background-color: var(--color-primary);
    color: var(--background-color);
}



footer {
    background-color: var(--color-tertiary);
}

nav.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    right: 0;
    left: 0;
}

nav.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .5rem;
}

nav.navbar ul li a.nav-link {
    color: var(--color-primary);
    text-decoration: none;
}
nav.navbar ul li a.nav-link:hover {
    color: var(--color-primary-hover);
}